@charset "UTF-8";
/* Estilos para todas las páginas */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../image/img/cieloazul.png);
  background-size: cover;
  background-repeat: no-repeat;
}
body nav {
  background-color: transparent;
  width: 100%;
  height: 80px;
}
body nav ul {
  text-align: right;
}
body nav ul li {
  list-style: none;
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
body nav ul li a {
  color: white;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}
body nav ul li a.activa, body nav ul li a:hover {
  background: #2c3e50;
  transition: 0.5s;
}

.logo {
  height: 40px;
}

.enlaza {
  position: absolute;
  padding: 20px 50px;
}
.enlaza.activa, .enlaza:hover {
  background: #2c3e50;
  border-radius: 3px;
  transition: 0.5s;
}

.checkboton {
  float: right;
  font-size: 30px;
  color: white;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  .enlaza {
    padding-left: 20px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .logo {
    width: 30%;
  }
  .checkboton {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: -100%;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 10px;
  }
  li a:hover, li a.activa {
    cursor: pointer;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
footer {
  width: 100%;
  background: #2c3e50;
  color: white;
}

.container-footer-all {
  width: 100%;
  max-width: 1200px;
  padding-left: 20px;
}

.container-body {
  display: flex;
  justify-content: space-around;
}

.colum1 {
  max-width: 400px;
  padding-top: 10px;
}
.colum1 img {
  border-radius: 20%;
  margin-left: 150px;
}
.colum1 p {
  font-family: "PT Serif", serif;
  font-size: 15px;
  color: #c7c7c7;
}

.colum2 {
  max-width: 400px;
  padding-top: 10px;
}
.colum2 h1 {
  font-size: 20px;
}

.row {
  display: flex;
  margin-top: 20px;
}
.row img {
  width: 20px;
  height: 20px;
}
.row p {
  text-decoration: underline;
  margin-left: 14px;
  color: #c7c7c7;
  font-family: "PT Serif", serif;
}

.colum3 {
  max-width: 400px;
  padding-top: 10px;
}
.colum3 h1 {
  font-size: 20px;
}

.row2 {
  display: flex;
  margin-top: 10px;
}
.row2 img {
  width: 20px;
  height: 20px;
}
.row2 label {
  margin-left: 10px;
  max-width: 150px;
  font-size: 14px;
  color: #c7c7c7;
  font-family: "PT Serif", serif;
}

.container-footer {
  width: 100%;
  background: #101010;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.copyright {
  color: #c7c7c7;
  font-size: 13px;
}
.copyright a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 13px;
}

.information a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}

@media screen and (max-width: 1100px) {
  .container-body {
    flex-wrap: wrap;
  }
  .colum1 {
    max-width: 100%;
  }
  .colum2, .colum3 {
    margin-top: 40px;
  }
}
/* Importar Estilos de cada página*/
/* Estilos Index */
/* Título */
h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 5%;
  font-weight: 100;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

/* Carrousell de Imagenes */
.contenedor-all {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

img {
  max-width: 100%;
}

.contenedor {
  position: relative;
  max-width: 640px;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}

.slide {
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: all 600ms;
  animation-name: autoplay;
  animation-duration: 6.5s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.item-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;
}

.paginacion {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.paginacion-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);
  margin: 10px;
  text-align: center;
  transition: all 300ms;
}

.paginacion-item:hover {
  transform: scale(2);
}

.paginacion-item img {
  display: inline-block;
  max-width: none;
  height: 100%;
  transform: scale(1);
  opacity: 0;
  transition: all 300ms;
}

.paginacion-item:hover img {
  opacity: 1;
  transform: scale(1);
}

input [id="1"]:checked ~ .slide {
  animation: none;
  transform: translate3d(0, 0, 0);
}

input [id="1"]:checked ~ .paginacion .paginacion-item [for="1"] {
  background: white;
}

input [id="2"]:checked ~ .slide {
  animation: none;
  transform: translate3d(-100, 0, 0);
}

input [id="2"]:checked ~ .paginacion .paginacion-item [for="2"] {
  background: white;
}

input [id="3"]:checked ~ .slide {
  animation: none;
  transform: translate3d(-200, 0, 0);
}

input [id="3"]:checked ~ .paginacion .paginacion-item [for="3"] {
  background: white;
}

input [id="4"]:checked ~ .slide {
  animation: none;
  transform: translate3d(-300, 0, 0);
}

input [id="4"]:checked ~ .paginacion .paginacion-item [for="4"] {
  background: white;
}

input [id="5"]:checked ~ .slide {
  animation: none;
  transform: translate3d(-400, 0, 0);
}

input [id="5"]:checked ~ .paginacion .paginacion-item [for="5"] {
  background: white;
}

input [id="6"]:checked ~ .slide {
  animation: none;
  transform: translate3d(-500, 0, 0);
}

input [id="6"]:checked ~ .paginacion .paginacion-item [for="6"] {
  background: white;
}

input [id="7"]:checked ~ .slide {
  animation: none;
  transform: translate3d(-600, 0, 0);
}

input [id="7"]:checked ~ .paginacion .paginacion-item [for="7"] {
  background: white;
}

input [id="8"]:checked ~ .slide {
  animation: none;
  transform: translate3d(-700, 0, 0);
}

input [id="8"]:checked ~ .paginacion .paginacion-item [for="8"] {
  background: white;
}

input [id="9"]:checked ~ .slide {
  animation: none;
  transform: translate3d(-800, 0, 0);
}

input [id="9"]:checked ~ .paginacion .paginacion-item [for="9"] {
  background: white;
}

input [id="10"]:checked ~ .slide {
  animation: none;
  transform: translate3d(-900, 0, 0);
}

input [id="10"]:checked ~ .paginacion .paginacion-item [for="10"] {
  background: white;
}

@keyframes autoplay {
  10% {
    transform: translate3d(clac(0), 0, 0);
  }
  20% {
    transform: translate3d(clac(-100), 0, 0);
  }
  30% {
    transform: translate3d(clac(-200), 0, 0);
  }
  40% {
    transform: translate3d(clac(-300), 0, 0);
  }
  50% {
    transform: translate3d(clac(-400), 0, 0);
  }
  60% {
    transform: translate3d(clac(-500), 0, 0);
  }
  70% {
    transform: translate3d(clac(-600), 0, 0);
  }
  80% {
    transform: translate3d(clac(-700), 0, 0);
  }
  90% {
    transform: translate3d(clac(-800), 0, 0);
  }
  100% {
    transform: translate3d(clac(-900), 0, 0);
  }
}
/* Párrafo */
section p {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  margin-top: 15%;
}

/* Video Sentado en el Trono*/
.vi-trono {
  display: flex;
  justify-content: center;
  margin-top: 15%;
  margin-bottom: 15%;
}

/* Estilos de Eventos */
main h1 {
  text-align: center;
  font-family: "PT Serif", serif;
  font-size: 25px;
  margin-top: 100px;
  font-weight: 100;
}

.contenedor {
  position: relative;
  top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.contenedor .evento {
  width: 350px;
  height: 350px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  background-image: linear-gradient(white black);
  margin-bottom: 15%;
}
.contenedor .evento:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.contenedor .evento img {
  width: 230px;
  height: 220px;
}
.contenedor .evento h3 {
  font-size: medium;
}
.contenedor .evento ul {
  text-decoration: none;
  list-style: none;
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

/* Estilos de Nosotros */
.banner {
  width: 100%;
  margin-top: 5%;
}

section article h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
  font-size: x-large;
}

.creencia {
  width: 96%;
  text-align: left;
  font-size: medium;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-style: oblique;
  line-height: 30px;
  margin-top: 1%;
  margin-left: 2%;
  padding: 0.8% 0.8%;
  border-color: black;
  border-style: ridge;
}

.presentacion {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
  margin-top: 8%;
}
.presentacion h3 {
  font-size: large;
}
.presentacion p {
  margin-top: 0;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: medium;
}

.retrato-1 {
  width: 50%;
}

.retrato-2 {
  width: 50%;
}

.retrato-3 {
  width: 45%;
}

.pastores {
  position: relative;
  top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.pastores .pastor {
  width: 350px;
  height: 350px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  background-image: linear-gradient(white black);
  margin-bottom: 15%;
}
.pastores .pastor:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.pastores .pastor ul {
  text-decoration: none;
  list-style: none;
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

/* Estilos Testimonios */
.testimonios {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.testimonios p {
  margin-top: 30px;
  margin-bottom: 60px;
}

.video1 {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 60px;
}

.video2 {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.video3 {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 120px;
}

/* Estilos Contactos*/
.encabezado {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.encabezado p {
  margin-top: 60px;
  margin-bottom: 100px;
}

#formulario {
  background-color: transparent;
}

form {
  background-color: transparent;
}

div h4 {
  color: black;
}

label {
  color: black;
  font-size: 18px;
}
label textarea:focus, label input:focus, label input[type]:focus {
  border-color: rgb(255, 144, 0);
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(255, 144, 0, 0.6);
  outline: 0 none;
}

.ubicacion {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

.encontranos {
  margin-top: 0%;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: small;
  margin-bottom: 100px;
}

/*# sourceMappingURL=style.css.map */
