/* Estilos Index */
/* Título */

h1 {
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 5%;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Carrousell de Imagenes */

.contenedor-all {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

img {
    max-width: 100%;
}

.contenedor {
    position: relative;
    max-width: 640px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}

.slide {
    display: flex;
    transform: translate3d(0,0,0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.paginacion {
    position: absolute;
    bottom: 20px;
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.paginacion-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    background: rgba( 255, 255, 255, 0.5);
    margin: 10px;
    text-align: center;
    transition: all 300ms;
    &:hover {
        transform: scale(2);
    }
    img {
        display: inline-block;
        max-width: none;
        height: 100%;
        transform: scale(1);
        opacity: 0;
        transition: all 300ms;
    }
}

.paginacion-item:hover img {
    opacity: 1;
    transform: scale(1);
}

input [id="1"]:checked~.slide {
    animation: none;
    transform: translate3d(0,0,0);
}

input [id="1"]:checked~.paginacion .paginacion-item [for="1"] {
    background: white;
}

input [id="2"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100%*1),0,0);
}

input [id="2"]:checked~.paginacion .paginacion-item [for="2"] {
    background: white;
}

input [id="3"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100%*2),0,0);
}

input [id="3"]:checked~.paginacion .paginacion-item [for="3"] {
    background: white;
}

input [id="4"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100%*3),0,0);
}

input [id="4"]:checked~.paginacion .paginacion-item [for="4"] {
    background: white;
}

input [id="5"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100%*4),0,0);
}

input [id="5"]:checked~.paginacion .paginacion-item [for="5"] {
    background: white;
}

input [id="6"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100%*5),0,0);
}

input [id="6"]:checked~.paginacion .paginacion-item [for="6"] {
    background: white;
}

input [id="7"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100%*6),0,0);
}

input [id="7"]:checked~.paginacion .paginacion-item [for="7"] {
    background: white;
}

input [id="8"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100%*7),0,0);
}

input [id="8"]:checked~.paginacion .paginacion-item [for="8"] {
    background: white;
}

input [id="9"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100%*8),0,0);
}

input [id="9"]:checked~.paginacion .paginacion-item [for="9"] {
    background: white;
}

input [id="10"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100%*9),0,0);
}

input [id="10"]:checked~.paginacion .paginacion-item [for="10"] {
    background: white;
}

/* Párrafo */

section p {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-top: 25%;
}

/* Video Sentado en el Trono*/
.vi-trono {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

