/* Estilos para todas las páginas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../image/img/cieloazul.png);
    background-size: cover;
    background-repeat: no-repeat;
    nav {
        background-color: transparent;
        width: 100%;
        height: 80px;
        ul {
            text-align: right;
            li {
                list-style: none;
                display: inline-block;
                line-height: 80px;
                margin: 0 5px;
                    a {
                    color: white;
                    font-size: 18px;
                    padding: 7px 13px;
                    border-radius: 3px;
                    text-transform: uppercase;
                    text-decoration: none;
                        &.activa, &:hover {
                            background: #2c3e50;
                            transition: .5s;
                        }
                    }
                }
            }
        }
    }

    .logo {
        height: 40px;
    }
    .enlaza {
        position: absolute;
        padding: 20px 50px;
        &.activa, &:hover {
            background: #2c3e50;
            border-radius: 3px;
            transition: 0.5s;
            }
        }
    .checkboton {
        float: right;
        font-size: 30px;
        color: white;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
    
    #check {
        display: none;
    }
        
    @media (max-width: 952px) {
        .enlaza {
            padding-left: 20px;
        }
        nav ul li a {
            font-size: 16px;
        }
    }
    
    @media (max-width: 858px) {
        .logo {
            width: 30%;
            height: 30%;
        }
        .checkboton {
            display: block;
        }
        ul {
            position: fixed;
            width: 100%;
            height: 100vh;
            top: 80px;
            left: -100%;
            transition: all .5s;   
        }
        nav ul li {
            display: block;
            line-height: 30px;
        }
        nav ul li a {
            font-size: 20px;
        }
        li a:hover, li a.activa {
            cursor: pointer;
        }
        #check:checked ~ul {
            left: 0;
        }
    }


footer {
    width: 100%;
    background: #2c3e50;
    color: white;
}

.container-footer-all {
    width: 100%;
    max-width: 1200px;
    padding-left: 20px;
}

.container-body {
    display: flex;
    justify-content: space-around;
    }


.colum1 {
    max-width: 400px;
    padding-top: 10px;
    img {
    border-radius: 20%;
    margin-left: 150px;
    }
    p {
    font-family: 'PT Serif', serif;
    font-size: 15px;
    color: #c7c7c7;
    }
}

.colum2 {
    max-width: 400px;
    padding-top: 10px;
    h1 {
        font-size: 20px;
    }
}

.row {
    display: flex;
    margin-top: 20px;
    img {
        width: 20px;
        height: 20px;
    }
    p {
        text-decoration: underline;
        margin-left: 14px;
        color: #c7c7c7;
        font-family: 'PT Serif', serif;
    }
}

.colum3 {
    max-width: 400px;
    padding-top: 10px;
    h1 {
        font-size: 20px;
    }
}

.row2 {
    display: flex;
    margin-top: 10px;
    img {
        width: 20px;
        height: 20px;
    }
    label {
        margin-left: 10px;
        max-width: 150px;
        font-size: 14px;
        color: #c7c7c7;
        font-family: 'PT Serif', serif;
    }
}

.container-footer {
    width: 100%;
    background: #101010;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright {
    color: #c7c7c7;
    font-size: 13px;
    a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 13px;
    }
}

.information a {
    text-decoration: none;
    color: white;
    font-size: 13px;
}

@media screen and (max-width: 1100px) {
    .container-body {
        flex-wrap: wrap;
    }
    .colum1 {
        max-width: 100%;
    }
    .colum2, .colum3 {
        margin-top: 40px;
    }
}

/* Importar Estilos de cada página*/
@import "index";
@import "eventos";
@import "nosotros";
@import "testimonios";
@import "contacto";
